<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
    
  </head>

  <body>
    <h1>PyBolt</h1>
    <div class="editors">
      <div class="editor" id="python-input"></div>
      <div class="editor" id="bytecode-output"></div>
    </div>

    <script>
      var COMPILE_URL = "{{url_for('do_compile')}}";
    </script>

    <script src="{{url_for('static',filename='ace/src-noconflict/ace.js')}}" type="text/javascript" charset="utf-8"></script>
    <script src="{{url_for('static',filename='ace/src-noconflict/ext-split.js')}}" type="text/javascript" charset="utf-8"></script>
    <script defer src="{{url_for('static',filename='index.js')}}"></script>
  </body>
</html>